<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="ellipticalBundles" type="Elliptical.Mvc.Configuration.Optimization.BundleSection" />
    <section name="ellipticalIdentity" type="Elliptical.Mvc.Configuration.Identity.IdentitySection" />
    <section name="ellipticalCommerce" type="Elliptical.Mvc.Configuration.Commerce.CommerceSection" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-EllipticalTemplate-20141217125655.mdf;Initial Catalog=aspnet-EllipticalTemplate-20141217125655;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Model.Namespace" value="EllipticalTemplate.Models" />
    <add key="Validation.CamelCase" value="true" />
    <add key="Manage.PhoneNumber" value="+13368951411" />
    <add key="Manage.FromAddress" value="admin@misonline.biz" />
    <add key="Twilio.Sid" value="AC88e5053b3395cf13d485c64e9632c2c6" />
    <add key="Twilio.Token" value="291b0f3994d5eccdefb8768a0461680d" />
    <add key="SendGrid.User" value="sdf2000" />
    <add key="SendGrid.Key" value="xtis6900!" />
    <add key="Microsoft.AppId" value="" />
    <add key="Microsoft.Secret" value="" />
    <add key="Twitter.AppId" value="xo03r5BjYgFobLVY4kxLnzuiC" />
    <add key="Twitter.Secret" value="AzOXWEdvUdlfqfAH8Q56K3PbmS0vuqnB8ab5197imAhkIgUudM" />
    <add key="Facebook.AppId" value="713187572113163" />
    <add key="Facebook.Secret" value="3c78c513c79cd869c5f607eb41d2ace3" />
    <add key="Google.AppId" value="" />
    <add key="Google.Secret" value="" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <ellipticalIdentity identifierString="ASP.NET Identity" useAccountApi="true" isAzureWebHost="false" enableTwoFactorAuth="false" enableOAuth="true" confirmEmail="false">
    <validation>
      <settings>
        <add key="AllowOnlyAlphanumericUserNames" value="false" />
        <add key="RequireUniqueEmail" value="true" />
        <add key="MinimumPasswordLength" value="6" />
        <add key="RequireNonLetterOrDigit" value="false" />
        <add key="RequireDigit" value="false" />
        <add key="RequireLowercase" value="false" />
        <add key="RequireUppercase" value="false" />
        <add key="UserLockoutEnabledByDefault" value="true" />
        <add key="DefaultAccountLockoutTimeSpan" value="5" />
        <add key="MaxFailedAccessAttemptsBeforeLockout" value="5" />
      </settings>
    </validation>
    <messages>
      <settings>
        <add key="Account.ConfirmEmail.Subject" value="Confirm your account" />
        <add key="Account.ConfirmEmail.Body" value="Account Confirmation" />
        <add key="Account.ConfirmEmail.Notice" value="Check your email and confirm your account, you must be confirmed before you can log in." />
        <add key="Account.ConfirmEmail.Cookie" value="RegisterConfirmEmail" />
        <add key="Account.ForgotPassword.Subject" value="Reset Password" />
        <add key="Account.ForgotPassword.Body" value="Request Password" />
        <add key="Account.ForgotPassword.UsernameDoesNotExist" value="No account exists for the submitted email address" />
        <add key="Account.Login.AccountLocked" value="This account has been locked" />
        <add key="Account.Login.ValidationError" value="Login Validation Error" />
        <add key="Account.Login.InvalidCode" value="Invalid Verfication Code" />
        <add key="Account.Login.Success" value="You have successfully logged in." />
        <add key="Account.Login.Failure" value="Invalid login." />
        <add key="Account.Login.ProviderFailure" value="Invalid External Provider." />
        <add key="Account.Login.UserNotVerified" value="Error: Unverified User." />
        <add key="Manage.AddPhoneSuccess" value="Your phone number was added." />
        <add key="Manage.ChangePasswordSuccess" value="Your password has been changed." />
        <add key="Manage.SetTwoFactorSuccess" value="Your two factor authentication provider has been set." />
        <add key="Manage.EnableTwoFactorAuth" value="Two factor authentication has been enabled" />
        <add key="Manage.DisableTwoFactorAuth" value="Two factor authentication has been disabled" />
        <add key="Manage.SetPasswordSuccess" value="Your password has been set." />
        <add key="Manage.RemoveLoginSuccess" value="The social medialogin has been removed." />
        <add key="Manage.RemovePhoneSuccess" value="Your phone number was removed." />
        <add key="Manage.VerifyPhoneNumber" value="Please verify your phone number." />
        <add key="Manage.NullPhoneNumber" value="Phone number required." />
        <add key="Error" value="An error has occurred." />
        <add key="Model.Error" value="Model validation error." />
      </settings>
    </messages>
  </ellipticalIdentity>
  <ellipticalBundles>
    <css virtualPath="~/bundles/css">
      <items>
        <add key="app" value="~/Content/css/app.css" />
      </items>
    </css>
    <platform virtualPath="~/bundles/platform">
      <items>
        <add key="platform" value="~/Scripts/platform.js" />
      </items>
    </platform>
    <framework virtualPath="~/bundles/elliptical">
      <items>
        <add key="moment" value="~/Scripts/moment.js" />
        <add key="dust" value="~/Scripts/dust.js" />
        <add key="templates-core" value="~/Scripts/templates-core.js" />
        <add key="templates" value="~/Scripts/templates.js" />
        <add key="ellipsis" value="~/Scripts/ellipsis.js" />
        <add key="elliptical" value="~/Scripts/elliptical.js" />
        <add key="htmlimport" value="~/Scripts/ellipsis-template-import.js" />
      </items>
    </framework>
  </ellipticalBundles>
  <ellipticalCommerce>
    <shipping>
      <shipMethod id="StandardShipping" name="Standard Shipping">
        <description><![CDATA[Standard Shipping]]></description>
        <priceMatrix>
          <item id="0" startValue="0" price="0" label="All Orders" altPriceText="Free"></item>
        </priceMatrix>
      </shipMethod>
    </shipping>
    <creditCard encryptLastTransaction="true" encryptionKey="changeThisEncryptionKeyValue">
      <acceptedCards>
        <card id="MasterCard" name="Master Card"></card>
        <card id="Visa" name="Visa"></card>
        <card id="PayPal" name="PayPal" redirectAction="/PayPalCheckout"></card>
      </acceptedCards>
    </creditCard>
    <paymentGateway mode="test" id="gateway">
      <providers>
        <provider id="Test" type="Elliptical.Mvc.Commerce.Gateway.Providers.Test.TestGateway" processedPaymentTypes="MasterCard,Visa" forMode="test" />
        <provider type="Elliptical.Mvc.Commerce.Gateway.Providers.PayPalExpress.PayPalExpressGateway" id="PayPalExpress" processedPaymentTypes="PayPal" forMode="any">
          <settings>
            <add key="ApiLogin" value="" />
            <add key="ApiPassword" value="" />
            <add key="ApiSignature" value="" />
            <add key="CancelAction" value="/Checkout/PayPalCancelled" />
            <add key="ReturnAction" value="/Checkout/PaylPalAuthorized" />
            <add key="PayPalStoreTitle" value="Test Shop" />
          </settings>
        </provider>
      </providers>
    </paymentGateway>
  </ellipticalCommerce>
</configuration>