@{
    ViewBag.Title = "Login Failure";
}
<section class="outer">
    <grid-row>
        <grid-columns class="default-12">
            <h3>@ViewBag.Title</h3>
            <blockquote class="error">
                Unsuccessful login with service.
            </blockquote>
        </grid-columns>
    </grid-row>
</section>


