@model ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
<section class="outer">
    <grid-row>
        <grid-columns class="default-12">
            <h3>@ViewBag.Title</h3>
            <p>Submit the form below to reset your password.</p>
            @using (Html.Elliptical().BeginForm(Model, new FormAttributes { Scope = "form", Action = "/Account/ForgotPassword", CssClass = "form-width" }))
            {
                @Html.Elliptical().EditorFor(Model, m => m.Email, HtmlFormElement.Text)
                @Html.Elliptical().Submit("Submit")
            }
        </grid-columns>
    </grid-row>
</section>
