@{
    ViewBag.Title = "Confirm Email Notice";
}
<section class="outer">
    <grid-row>
        <grid-columns class="default-12">
            <h3>@ViewBag.Title</h3>
             <p>@ViewBag.Message</p>
        </grid-columns>
    </grid-row>
</section>

