@{
    ViewBag.Title = "Reset password confirmation";
}
<section class="outer">
    <grid-row>
        <grid-columns class="default-12">
            <h3>@ViewBag.Title</h3>
            <p>
                Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </grid-columns>
    </grid-row>
</section>

