@model SendCodeViewModel
@{
    ViewBag.Title = "Send Verification Code";
}
<section class="outer">
    <grid-row>
        <grid-columns class="default-12">
            <h3>@ViewBag.Title</h3>
            <p>
                Select an authentication method for verifying your account identity. 
                Based on your selection, a text or an email will be sent to you with a security code. Enter that code at the next screen to complete your login. 
            </p>
            @using (Html.Elliptical().BeginForm(Model, new FormAttributes { Scope = "form", Action = "/Account/SendCode", CssClass = "form-width" }))
            {
                @Html.Elliptical().HiddenFor(Model, m => m.RememberMe)
                <p>Select Two-Factor Authentication Method:</p>
                @Html.Elliptical().SelectFor(Model, m=>new SelectListModel
                 {
                     Options=m.Providers,
                     SelectedProperty=m.Provider,
                     TextProperty=m.Providers.FirstOrDefault().Text,
                     ValueProperty=m.Providers.FirstOrDefault().Value
                 })
                @Html.Elliptical().Submit("Submit")
            }
        </grid-columns>
    </grid-row>
</section>





