@model SetPasswordViewModel
@{
    ViewBag.Title = "Create Password";
    Layout = "_ManageLayout.cshtml";
}

<h3 class="account-header">@ViewBag.Title.</h3>
<p class="sub-heading">
    You do not have a local username/password for this site. Add a local
    account so you can log in without a social network login.
</p>

@using (Html.Elliptical().BeginForm(Model, new FormAttributes { Scope = "form", Service = "/Manage/SetPassword", SuccessMessage = "Password Successfully Set" }))
{

    @Html.Elliptical().EditorFor(Model, m => m.NewPassword, HtmlFormElement.Password)
    @Html.Elliptical().EditorFor(Model, m => m.ConfirmPassword, HtmlFormElement.Password)
    @Html.Elliptical().Submit("Set Password")
}
