@Html.Elliptical().HTML5Import("/Content/components/ui-carousel/ui-carousel.html")
<ui-carousel indicators="true" auto="true" data-upgraded="false" animation="fade" cross-fade="false" require-upgrade="true">
    <carousel-item>
        <div class="ui-flex-container center">
            <span class="icon-native-browsers lg-icon"></span><h4>Custom Elements</h4>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent viverra dignissim leo, et luctus turpis malesuada eget. Donec eu nunc vel ipsum scelerisque rhoncus.</p>
    </carousel-item>
    <carousel-item>
        <div class="ui-flex-container center">
            <span class="icon-tech-db-edit lg-icon"></span><h4>Two-way data binding</h4>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent viverra dignissim leo, et luctus turpis malesuada eget. Donec eu nunc vel ipsum scelerisque rhoncus.</p>
    </carousel-item>
    <carousel-item>
        <div class="ui-flex-container center">
            <span class="icon-common-checkbox lg-icon b"></span><h4>Express-Style MVC on the Client</h4>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent viverra dignissim leo, et luctus turpis malesuada eget. Donec eu nunc vel ipsum scelerisque rhoncus.</p>
    </carousel-item>
    <carousel-item>
        <div class="ui-flex-container center">
            <span class="icon-tech-net-tree lg-icon b"></span><h4>Dependency Injection Everywhere</h4>
            <p></p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent viverra dignissim leo, et luctus turpis malesuada eget. Donec eu nunc vel ipsum scelerisque rhoncus.</p>
    </carousel-item>
</ui-carousel>
