@{
    ViewBag.Title = "Security Policy";
}
<section class="outer">
    <grid-row>
        <grid-columns class="default-12">
            <h3>@ViewBag.Title</h3>
            <p>
                Security policy info.
            </p>
        </grid-columns>
    </grid-row>
</section>


